<template>
  <div>
    <v-app-bar
      color="dark"
      dark
      dense
      app
    >
      <v-toolbar-title>DATOS COVID-19 EN EL MUNDO - CODERHOUSE GASTON ALEJANDRO VIOTTI.</v-toolbar-title>
    </v-app-bar>
    <v-container>
      <v-row justify="center">
        <v-col
          cols="12"
          md="4"
        >

          <v-toolbar
            color="blue-grey darken-4"
            dark
            dense
          >
            <v-toolbar-title>CONFIRMADOS GLOBAL</v-toolbar-title>
          </v-toolbar>
          <v-card flat>
            <v-card-text
              dark
              class="red accent-4 white--text"
            >
              <strong><span>NUEVOS CASOS CONFIRMADOS: {{valor.NewConfirmed}} </span><br /></strong>
              <strong><span>TOTALES CONFIRMADOS:{{valor.TotalConfirmed}} </span><br /></strong>
            </v-card-text>

          </v-card>
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-toolbar
            color="blue-grey darken-4"
            dark
            dense
          >
            <v-toolbar-title>FALLECIMIENTOS GLOBAL</v-toolbar-title>
          </v-toolbar>
          <v-card flat>
            <v-card-text
              dark
              class="red accent-4 white--text"
            >
              <strong> <span>NUEVAS MUERTES: {{valor.NewDeaths}} </span><br /></strong>
              <strong> <span>TOTAL MUERTES: {{valor.TotalDeaths}} </span><br /></strong>
            </v-card-text>
          </v-card>
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-toolbar
            color="blue-grey darken-4"
            dark
            dense
          >
            <v-toolbar-title>RECUPERADOS GLOBAL</v-toolbar-title>
          </v-toolbar>
          <v-card flat>
            <v-card-text
              dark
              class="red accent-4 white--text"
            >
              <strong> <span>NUEVOS RECUPERADOS: {{valor.NewRecovered}} </span><br /></strong>
              <strong><span>TOTAL RECUPERADOS: {{valor.TotalRecovered}} </span><br /></strong>
            </v-card-text>
          </v-card>

        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-col
        cols="12"
        md="12"
      >
        <v-card>
          <v-card-title>
            <div class="flex-grow-1"></div>
            <v-text-field
              v-model="search"
              prepend-icon="mdi-magnify"
              label="Buscar"
              single-line
              hide-details
              clearable
            ></v-text-field>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :items="paises"
            :items-per-page="25"
            class="elevation-1"
            :header-props="{class: 'primary'}"
            :search="search"
          >
          </v-data-table>

        </v-card>
      </v-col>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-divider></v-divider>
      <v-card flat>

        <v-row
          align="center"
          justify="center"
        >
          <v-img
            src="https://res.cloudinary.com/hdsqazxtw/image/upload/v1570710978/coderhouse.jpg"
            aspect-ratio="1"
            class="grey lighten-2"
            max-width="500"
            max-height="300"
          >
          </v-img>

        </v-row>
      </v-card>
    </v-container>
    <v-footer>
      <v-spacer></v-spacer>
      <div><strong>GASTÓN ALEJANDRO VIOTTI</strong> &copy; {{ new Date().getFullYear() }}</div>
    </v-footer>
  </div>

</template>

<script>
import axios from 'axios'
export default {
  name: 'HelloWorld',
  components: {

  },

  data () {
    // Metadatos de los fields
    const codModelos = {
      cod: {
        label: 'Código?',
        type: 'evN',
        options: []
      },
    }


    return {
      datos: {},
      codForm: axios(codModelos),
      covidall: null,
      valor: null,
      search: '',
      paises: [],
      headers: [
        { text: 'Pais', value: 'Country', align: 'center' },
        { text: 'CodigoPais', value: 'CountryCode', align: 'center' },
        { text: 'CasosConfirmados', value: 'NewConfirmed', align: 'center' },
        { text: 'TotalConfirmados', value: 'TotalConfirmed', align: 'center' },
        { text: 'Fallecimientos', value: 'NewDeaths', align: 'center' },
        { text: 'TotalFallecimientos', value: 'TotalDeaths', align: 'center' },
        { text: 'NuevosRecuperados', value: 'NewRecovered', align: 'center' },
        { text: 'TotalRecuperados', value: 'TotalRecovered', align: 'center' },

      ],

    }
  },



  methods: {
    async getCovid () {
      let datos = await axios.get('https://api.covid19api.com/summary')
      console.log(datos.data.Global)
      this.valor = datos.data.Global
    },
    async getCovidCountries () {
      let datos = await axios.get('https://api.covid19api.com/summary')
      console.log(datos.data.Countries)
      this.paises = datos.data.Countries

    },

    async getallCoviddata () {


    },

  },
  created () {
    this.getCovid()
    this.getCovidCountries()
    this.getallCoviddata()
  }
}

</script>
